/*############################################################*/
/*################# STYLE ELEMT GENERIQUE ####################*/
/*############################################################*/

* {
    text-decoration: none;
}

body {
    margin: 0;
}

header{
    padding: 2%;
    margin-bottom: 100px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.ProfilPicture {
    width: 5%;
    border-radius: 100%;
}

.ProfilPicture:hover{
    box-shadow: 0 0 10px #8949f3;
}

p {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-family: 'Roboto', sans-serif;
}

h4 {
    font-family: 'Roboto', sans-serif;
}

button {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

a {
    font-family: 'Roboto', sans-serif;
}

header a {
    font-weight: 900;
    font-size: large;
}

section {
    padding: 50px;
    margin-left: 25vw;
    margin-right: 25vw;
    border-radius: 20px;
    min-height: 50px;
}

.DivTypeSection{
    padding-top: 3px;
    padding-left: 5px;
    border-radius: 20px;
    width: fit-content;
    height: 30px;
    overflow: hidden;
    margin-left: 25vw;
    margin-bottom: 5px;
    margin-top: 50px;
}

.circle{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
}

/*############################################################*/
/*######################### HEADER ###########################*/
/*############################################################*/

header button {
    background-color: transparent;
    border: none;
}

#sun {
    display: block;
}

#moon {
    display: none;
}

/*############################################################*/
/*##################### Section About ########################*/
/*############################################################*/

#IdAbout {
    padding: 45px;
    margin: 2px;
    max-width: 90%;
    z-index: 1;
}

.contentSectionAbout {
    white-space: normal;
}

.containerAnimation {
    padding: 5px;
    padding-right: 5px;
    margin-left: 25vw;
    margin-right: 25vw;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.containerAnimation::before{
    content: '';
    width: 1000px;
    height: 300%;
    background: linear-gradient(to bottom right, blue, pink);
    position: absolute;
    top: -100%;
    left: -10%; 
    z-index: -1;
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

h3.DivTypeSectionTitle {
    margin : 0;
    display: inline-block;    
}

h1.SectionAbouTitle{
  margin: 0;
}

h2.SectionAbouTitle{
  margin-top: 0;
}

button.sectionAboutButton{
    background-color: transparent;
    border-radius: 5px;
    width: 30%;
    height: 40px;
    margin-top: 2vh
}

/*############################################################*/
/*################## SECTION INFORMATION #####################*/
/*############################################################*/

.ContainerInformationDiv{
    /* background-color: #2d2d2d; */
    border-radius: 15px;
    width: 100%;
    padding-left: 10px;
    padding-top: 5px;
}

.TitleInformation h3 {
    margin: 0;
}

.TitleInformation{
    width: fit-content;
    display: inline-block; 
    overflow: hidden;
}

.Content p {
    margin: 0;
}

.Content{
    display: inline-block;
    width: fit-content;
    overflow: hidden;
}

/*############################################################*/
/*################## SECTION COMPETENCES #####################*/
/*############################################################*/

#ContainerCompetences h3 {
    margin: 0;
}

#ContainerCompetences p {
    margin-top: 0;
    margin-bottom: 5px;
}

/*############################################################*/
/*################## SECTION PROJETS #########################*/
/*############################################################*/

.lineBoxeMyProject {
    display: flex;
    flex-direction: row;
}

.BoxMyProject {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 50px;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
}

.BoxMyProject a {
    margin: 0;
    font-weight: bold;
    font-size: 20px;
}

.BoxMyProject h4 {
    font-weight: lighter;
}

.BoxeMyProjectImg {
    border-radius: 25px;
    width: 50%;
    max-width: 200px;
}

/*############################################################*/
/*################# SECTION PROJETS CESI #####################*/
/*############################################################*/

.boxeCesiProjet {
    display: flex;
    align-items: center;
    min-height: 50px;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
}

.ContentBoxCesiProjet {
    display: inline-block;
    width: auto;
    margin-left: 10px;
}

.ContentBoxCesiProjet h3 {
    margin: 0;
}

.ContentBoxCesiProjet a {
    font-weight: 900;
    font-size: 20px;
}

.ContentBoxCesiProjet p {
    margin: 0;
}

.boxeCesiProjet img {
    width : 15%;
    border-radius: 25px;
    display: inline-block;
}

.boxeCesiProjet h4 {
    margin: 0;
    font-weight: lighter;
}

/*############################################################*/
/*################## SECTION PARCOURS ########################*/
/*############################################################*/

.LineBoxParcours{
    margin-left: 5vw;
    display: flex;
    flex-direction: row;
}

.boxeParcours{
    border-radius: 15px;
    width: 15vw;
    height: 30vh;
    min-height: 200px;
    margin : 5px;
    overflow: hidden;
    text-align: center;
    padding: 15px;
}

.boxeParcoursImg{
    margin: 0;
    width: 45%;
    border-radius: 5px;
}

/*############################################################*/
/*################### Section Experience #####################*/
/*############################################################*/

.boxeXp{
    display: flex;
    align-items: center;
    border-radius: 15px;
    width: 92%;
    overflow: hidden;
    padding: 15px;
    margin-bottom: 15px;
}

.boxeXpImg{
    margin: 0;
    width: 20%;
    border-radius: 5px;
    display: inline-block
}

.ContentXp {
    display: inline-block;
    width: 70%;
    margin-left: 10px;
}

.ContentXp h3 {
    margin: 0;
}

.ContentXp h4 {
    margin: 0;
}

.ContentXp p {
    margin: 0;
}

/*############################################################*/
/*################### Section Hobbies ########################*/
/*############################################################*/

.LineBoxHobbies{
    margin-left: 5vw;
    display: flex;
    flex-direction: row;
}

.boxeHobbies{
    border-radius: 15px;
    width: 15vw;
    height: 25vh;
    min-height: 200px;
    margin: 5px;
    overflow: hidden;
    text-align: center;
    padding: 15px;
}

.boxeHobbies h3 {
    margin: 0;
}

.boxeHobbies p {
    margin: 0;
}

.boxeHobbiesImg{
    margin: 0;
    width: 45%;
    border-radius: 5px;
}

.hobbiesContent a {
    font-weight: 500;
}

.hobbiesContent a:hover {
    font-weight: bold;
}

/*############################################################*/
/*################### Section Responsive #####################*/
/*############################################################*/

@media screen and (max-width: 428px) {
    button.sectionAboutButton{
        width: 100%;
    }

    .ProfilPicture {
        width: 15%;
    }

    header {
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 472px) {
    .containerAnimation::before {
        width: 150px;
        height: 400%;
        top: -150%;
        left: 40%;
        animation: rotate 6s linear infinite;
    }
}

@media screen and (max-width: 1068px) {
    section {
        margin-left: 5vw;
        margin-right: 5vw;
    }
    .DivTypeSection {
        margin-left: 5vw;
    }
    .containerAnimation {
        margin-left: 5vw;
        margin-right: 5vw;
    }
    
    .DivTypeSection {
        margin-left: 5vw;
    }
    .LineBoxParcours{
        flex-direction: column-reverse;
    }
    #sectionParcours {
        padding-left: 0;
    }
    .boxeParcours{
        width: 100%;
        height: 15vh;
        display: inline-block;
        margin-left: 0px;
    }
    .boxeParcoursImg{
        margin: 0;
        width: 20%;
        max-width: 100px;
        border-radius: 5px;
    }
    .LineBoxHobbies{
        flex-direction: column;
    }

    .boxeHobbies {
        width: 100%;
        height: 15vh;
        display: inline-block;
        margin-left: 0px;
        height: fit-content;
    }

    #idSectionHobbies {
        padding-left: 0;
    }

    .boxeXp {
        display: block;
        overflow: hidden;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding: 15px;
    }

    .boxeXpImg {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        max-width: 100px;
    }
    .ContentXp {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #IdSectionInformation {
        padding-left: 5px;
        padding-right: 15px;

    }

    #IdSectionCompetence {
        padding-left: 5px;
        padding-right: 15px;
    }

    .ProfilPicture {
        width: 10%;
    }

    .containerAnimation::before {
        width: 150px;
        height: 400%;
        top: -150%;
        left: 40%;
        animation: rotate 6s linear infinite;
    }

    .boxeCesiProjet {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding: 15px;
    }

    .boxeCesiProjet img {
        min-width: 70px;
    }

    .boxeHobbiesImg {
        max-width: 100px;
    }

}


@media screen and (min-width: 1790px) {
    .containerAnimation::before {
        width: 150px;
        height: 400%;
        top: -150%;
        left: 40%;
        animation: rotate 6s linear infinite;
    }
}

.copyright {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 12px;
}